.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D2423;  // mismo marrón del sidebar
  color: #EAD585;            // beige claro para el texto
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome-message {
  font-size: 1.2rem;
  font-weight: 500;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.7rem;
  border: 2px solid #EAD585; // borde para destacar el perfil
}

.user-name {
  font-weight: 700;
}